* {
padding: 0;
margin: 0;
}
@font-face {
    font-family:'divertidamente';
    src: url('Intensa\ Fuente.ttf') format('truetype');
    font-weight: normal;
    fonte-style: normal;
}

.text-links{
    color: white;
}
header{
    height: 100px;
    display : flex;
    justify-content: center;
}
.logo{
    height: 10rem;
    align-self: center;
}

body{
    color: white;
    background-image: linear-gradient(to bottom, black 25%,#100553,#002765,#004E8E,#0385A5);
    background-attachment: fixed;
    font-family: divertidamente;
    font-weight: 100%;
}

main {
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section{
    display: flex;
    flex-direction: column;
}

.movie-info{
    height: 10rem;
    font-size: 2rem;
   
}

.intro-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.riley-img{
   height: 40%;
   width: 30%;

}

.list-title{
    align-self: center;
    font-size: 1.5rem;
}
.title{
    font-family: divertidamente;
    font-size: 4rem;
    padding-bottom: 0%;
    color: white ;
}
.subtitle{
    padding-top: 0%;
    font-size: 3rem;
  
}

.cards-section li{
    width: 10px;
    font-weight: 30px;
}

.personages-list{
    padding-left: 32px;
    font-weight: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    gap: 48px;
    flex-wrap: wrap;
    z-index: 1;
}

.personages-list li{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}



.personages-list img{
    height: 250px;
    align-self: flex-end;
}

#alegriaImg {
    width: 280px;
    height: 350px;
}
#tristezaImg {
    width: 280px;
    height: 280px;
}
#raivaImg {
    width:300px;
    height: 240px;
    align-self: flex-end;
}
#nojinhoImg{
    width: 270px;
    height: 300px;
}
#medoImg{
    width: 270px;
    height: 370px;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    font-family: divertidamente;
    font-size: 20px;
    font-weight: 30px;
    border-right: 20px;
    
}